:root{
--theme-color: darkgoldenrod;
--text-white-color: white;
--text-black-color: black;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    min-height: 100vh;

}



nav{
   
    background-color: var(--theme-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li{
    margin: 0 30px;
    height: 50px;
}
nav ul li:first-child{
    margin-right: auto;
    height: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-black-color);
    transition: all 400ms;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
nav ul li a:hover{
    color: var(--text-white-color);
}

.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.side-bar li{
    width: 100%;
}

.side-bar a{
    width: 100%;
}

.menu{
    display: none;
}





.btn{
    border-radius: 8px;
    padding: 8px 24px;
    color: var(--text-black-color);
    background-color: var(--theme-color);

}

.btn:hover{
    background: var(--text-black-color);
    color: var(--theme-color);
}

/* Hero Section */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image:url("./images/femaleBag02.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100vh - 78px);
}

.hero-section .hero-content h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    color: var(--theme-color);

}
.hero-section .hero-content p{

    font-size: 20px;
    line-height: 200%;
    width: 490px;
    margin-top: 16px;
    margin-bottom: 20px;


}




/* Products section */

.products-section{
    /* background-color: aqua; */
    padding: 10px;
}

.stacked{
    display: grid;
}

.stacked > *{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.products-container-grid{

    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));

}

.product-card{
    aspect-ratio:  1 / 1.5;
    /* border: 3px solid purple; */
}




.product-content{
    background: white;
    align-self: end;
    margin: .5rem .5rem .2rem;

}

.product-img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-button{
    background: var(--theme-color);
    color: var(--text-black-color);
    border-radius: 5px;
}

.product-button:hover{
    background: black;
    color: darkgoldenrod;
}





/* About/Contact US */
.about-contact-section .grid-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 20px 20px;

}

.about-contact-section .grid-container .item{
    background: var(--theme-color);
    color: var(--text-black-color);
    border: 2px solid white;
    padding: 25px 25px;
}



/* about */
.about{
    grid-column: 1 /6;
    grid-row: 1 / 4 ;

}



/* contact Us */
.contact{
    grid-column: 6 / 12;
    grid-row: 1 / 4;
    
    list-style: none;
}
.whatsapp-logo{
    grid-column:  11 / 12;
    grid-row: 3 / 4 ;
    /* background: green; */
    animation: anime 1s infinite ease-in-out alternate ;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
}

@keyframes anime {
    100%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    
}



/* footer */

footer{
    background: var(--theme-color);
    
}

footer a{
    text-decoration: none;
}


@media (min-width:40em){
    .product-card.featured{
        grid-row: span 2;
        grid-column: span 2;
    
    }
    .product-card.featured .product-img{
        aspect-ratio: 1 / 1.25;
    
    }
}

@media  (max-width: 800px){

    .hide-on-mobile
    {
        display: none;
    }

    .menu{
        display: block;
    }
    .hero-section{

    }

    .hero-section .hero-content{
        align-self: center;
        justify-self: center;
    }

    .products-cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .products-cards-container .item img{

        width: 100%;
        height: 100%;
      
      }
      
      .products-cards-container .item:nth-child(1){
      
          grid-column: 1 / 2 ;
          grid-row: 1 / 2;
      
      }
      .products-cards-container .item:nth-child(2){
          grid-column: 1 / 2;
          grid-row: 2 / 3 ;
      
      }
      
      
      .products-cards-container .item:nth-child(3){
          grid-column: 1 / 2 ;
          grid-row: 3 / 4 ;
      
      }

    .about-contact-section .grid-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .about{
        grid-column: 1 / 4;
        grid-row: 1 / 3;

    }

    .contact{
        grid-column: 1 / 4 ;
        grid-row: 3 / 5 ;

    }

    .whatsapp-logo{
        grid-column: 3/ 4;
        grid-row: 4 / 5 ;

    }

    
    
}

@media (max-width: 400px) {
    .side-bar{
        width: 100%;
    }
    
}
